<!-- <p>footer works!</p> -->
<!-- Footer Start -->
<div class="container-fluid text-white-50  px-sm-3 px-lg-5" style="background-color: rgba(2, 17, 11, 0.89);">
    <div class="row pt-5">
        <div class="col-lg-5 col-md-6 mb-5">
            <a href="" class="navbar-brand">
                <h1 class="" style="font-weight: 800; color: rgb(107 172 45);">JJ<span class="text-white">TRAVEL</span>ER</h1>
            </a>
            <p>The real voyage of dicovery consists not in seeking new landscapes, but in having new eyes. Discover it with JJ Travels, the No.1 travel brand in South India</p>
            <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Follow Us</h6>
            <div class="d-flex justify-content-start">
                <a class="btn btn-outline-success btn-square mr-2 me-2" ><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-success btn-square mr-2 me-2" ><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-success btn-square mr-2 me-2" ><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-success btn-square" ><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Our Services</h5>
            <div id="service" class="d-flex flex-column justify-content-start">
                <a class="text-white-50 mb-2" ><i class="fa fa-angle-right mr-2"></i> Best Destinations</a>
                <a class="text-white-50 mb-2" ><i class="fa fa-angle-right mr-2"></i> Best Accomodation</a>
                <a class="text-white-50 mb-2" ><i class="fa fa-angle-right mr-2"></i> Great Services</a>
                <a class="text-white-50 mb-2" ><i class="fa fa-angle-right mr-2"></i> Exploring Packages</a>
                <!-- <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Guides</a>
                <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i> Testimonial</a>
                <a class="text-white-50" href="#"><i class="fa fa-angle-right mr-2"></i> Blog</a> -->
            </div>
        </div>
        <div id="contact" class="col-lg-3 col-md-6 mb-5">
            <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contact Us</h5>
            <p><i class="fa fa-map-marker-alt mr-2"></i> Cochin, Kerala, INDIA</p>
            <p><i class="fa fa-phone-alt mr-2"></i> 0484 345 67890</p>
            <p><i class="fa fa-envelope mr-2"></i> travels@gmail.com</p>
        </div>
    </div>
    <div class="container-fluid border-top text-center text-md-left mb-3 mb-md-0 py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <p class="m-0 text-white-50">Copyright &copy; <a href="#">travels@gmail.com</a>. All Rights Reserved.
        </p>
    </div>
</div>

