<div id="carouselExampleAutoplaying" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.postimg.cc/vZSxH4x9/travels4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-flex flex-column align-items-end justify-content-center">
                <div class="p-3" style="max-width: 900px; margin-left: 300px;">
                    <h4 class="text-white text-uppercase mb-md-3">JJ Travels</h4>
                    <h1 class="display-3 text-white mb-md-4">Let's Discover The Nature Together</h1>
                    <button (click)="bookNow()" class="btn btn-primary py-md-3 px-md-5 mt-2" id="button-default">Book Now</button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/vZc0BnGq/travels8.jpg" style="height: 551px;" class="d-block w-100"
                alt="...">
            <div class="carousel-caption d-flex flex-column align-items-end justify-content-center">
                <div class="p-3" style="max-width: 900px; margin-left: 300px;">
                    <h4 class="text-white text-uppercase mb-md-3">JJ TRAVELS</h4>
                    <h1 class="display-3 text-white mb-md-4">Let's Discover The Nature Together</h1>
                    <button (click)="bookNow()" class="btn btn-primary py-md-3 px-md-5 mt-2" id="button-default">Book Now</button>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- carousel end -->

<!-- About Us -->
<div class="container">
    <div class="row p-0">
        <!-- style="background-color: rgba(218, 252, 207, 0.795);" -->
        <div class="col-lg-7 col-md-12 p-0">
            <div id="about-pg">
                <h5 style="color: rgb(107 172 45);">ABOUT US</h5>
                <h1 class="text-center m-4">LET'S EXPLORE <br> SOUTH-INDIA TOGETHER</h1>
                <p class="" style="font-weight: 700;">“Travel is the main thing you purchase that makes you more
                    extravagant”</p>
                <p>We, at JJ Travels, swear by this and put stock in satisfying travel dreams that make you perpetually
                    rich constantly.
                    Through our<span style="font-weight: 700; color: rgb(107 172 45);"> Best Travel Packages</span>, we
                    will take you on an adventure where you
                    personally enjoy the stunning magnificence of <span
                        style="font-weight: 700; color: rgb(107 172 45);">South India</span>. We need you to observe
                    sensational scenes that are a long way past your creative ability. We rouse our clients to carry on
                    with a rich life, brimming with <span
                        style="font-weight: 700; color: rgb(107 172 45);">ExtraOrdinary Travel Encounters</span>.
                </p>
            </div>
        </div>

        <div class="col-lg-5 col-md-12 p-0">
            <div class="">
                <img id="about-img" src="https://i.postimg.cc/FzLZX1bg/travels-About.jpg" alt="">
            </div>

        </div>

    </div>
</div>


<!-- services -->
<div class="container-fluid">
    <div class="container pt-4 ">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-uppercase" style="letter-spacing: 5px; color: rgb(107 172 45);">Services</h6>
            <!-- <h1>Tours & Travel Services</h1> -->
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                    <h5 class="mb-2">Travel Guide</h5>
                    <p class="m-0">We provide you a smart, understanding, well-behaved, friendly and energetic Travel
                        Guide who make your trip more Comforting & Exciting as You Desire.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                    <h5 class="mb-2">Hotels</h5>
                    <p class="mb-4">Hotels we provide will be Secure, Clean and Statisfying with an Affordable Price.
                        Your Safety and Comfort is
                        our priority</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <!-- <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i> -->
                    <i class="fa fa-2x fa-solid fa-location-dot mx-auto mb-4"></i>
                    <h5 class="mb-2">Best Destinations</h5>
                    <p class="mb-4">Advice you with mind blowing destiantions in Southern India. We plan the trip with
                        places as you desire to visit.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="service-item bg-white text-center mb-2 py-3">
                    <!-- <i class="fa fa-2x fa-route mx-auto mb-4"></i> -->
                    <i class="fa fa-3x fa-solid fa-person-walking-luggage mx-auto mb-3"></i>
                    <h5 class="mb-2">TRAVEL THE WORLD & EXPLORE YOURSELF</h5>
                    <p class="m-0">Just Belive In Us & Get Ready To Make Most Memorable & Beautiful Moments Of Your
                        Life.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Packages -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div id="package" class="text-center mb-3 pb-3">
            <h6 class="text-uppercase" style="letter-spacing: 5px; color: rgb(107 172 45);">Packages</h6>
            <h1>Perfect Tour Packages</h1>
        </div>
        <div class="row">
            <div *ngFor="let i of pdata" class="col-lg-4 col-md-6 mb-4">
                <div id="packages" class="package-item bg-white mb-2 me-3 text-center">
                    <img src="{{i.image}}" alt="">
                    <div class="p-4">
                        <div id="packages-item" class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-map-marker-alt y mr-2"></i> {{i.place}}</small>
                            <small class="m-0"><i class="fa fa-calendar-alt  mr-2"></i> {{i.duration}}</small>
                            <small class="m-0"><i class="fa fa-user  mr-2"></i> {{i.travellers}} Persons</small>
                        </div>
                        <a class="h5 text-decoration-none text-uppercase" routerLink="singlepackage-view/{{i._id}}">
                            {{i.title}}</a>
                        <div class="border-top mt-4 pt-4">
                            <div id="packages-item" class="d-flex justify-content-between">
                                <h6 class="m-0"><i class="fa fa-star  mr-2"></i> {{i.rating}}</h6>
                                <h5 class="m-0"> ${{i.price}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
            <div *ngFor="let i of pdata" class="col">
              <div class="card text-center" style="height: 482px;">
                <img src={{i.image}} class="card-img-top h-50" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{i.place}}</h5>
                  <p class="card-text">{{i.duration}}</p>
                  <h4>{{i.price}}Rs.</h4>
                </div>
                <div class="text-center mb-4">
                  <button class="btn btn-dark w-50">View</button>
                </div>
              </div>
            </div>
        </div> -->
    </div>
</div>
<!-- Packages End -->