table th{
    color: rgb(79, 138, 23);
}

/* a {
    text-decoration: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
    border-bottom: 3px rgb(107 172 45) solid;

}

a:hover{
    border-bottom: none;
    color: #1c4af0e3;
} */