<!-- <nav class="navbar navbar-expand-lg bg-white container w-50" style="margin-top: -12px; 
box-shadow: 0 -6px 0 #fff, 0 1px 25px rgba(0,0,0, .35);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">GALLERY</a>
                </li>
            </ul>
            <ul class="navbar-nav me-4 mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="">REVIEWS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
    <div class="">
        <div class="row container-fluid">
            <div class="col-lg-4 col-md-5" style="background-color: rgba(197, 206, 194, 0.349);">
                <div class="h1 pt-4">
                    <button (click)="logout()" class="btn btn-primary mb-2"><i class="fa-solid fa-right-to-bracket fa-rotate-180 me-2"></i>Logout</button>

                    <h3 class="text-center mt-4" style="color: rgb(107 172 45);">SERVICES</h3>

                    <div id="h2" (click)="userPage()" class="col-md-12 ps-2 pb-4 pt-4 mb-4 mt-4" style=" color: rgb(107 172 45);;">
                        <i class="fa fa-solid fa-users"></i>
                        <a class="p-4 mb-2 ms-5">Users Management</a>
                    </div>

                    <div id="h2" (click)="packagePage()" class="col-md-12 ps-2 pb-4 pt-4 mb-4 mt-4" style=" color: rgb(107 172 45);">
                        <i class="fa fa-solid fa-person-walking-luggage"></i>
                        <a class="p-4 pe-2 mb-2 ms-5">Package Management</a>
                    </div>

                    <div id="h2" (click)="bookingPage()" class="col-md-12 ps-2 pb-4 pt-4 mb-4 mt-4" style=" color: rgb(107 172 45);;">
                        <i class="fa fa-solid fa-bookmark"></i>
                        <a class="p-4 pe-2 mb-2 ms-5">Bookings Management</a>
                    </div>


                    <div id="h2" (click)="reviewsPage()" class="col-md-12 ps-2 pb-4 pt-4 mb-4 mt-4" style=" color: rgb(107 172 45);">
                        <i class="fa-solid fa-comments"></i>
                        <a class="p-4 pe-2 ms-5">Reviews Management</a>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-8 col-md-7 ps-5 mt-5 pt-3 mb-5 text-end">
                <div class="">
                    <img src="https://i.postimg.cc/R0pBg7gg/travel-Admin.jpg" alt="">
                </div>
               
            </div>
    
        </div>
    </div>
