.carousel-caption h1{
    font-size: 50px;
    padding-bottom: 20px;
    line-height: 56px;
    font-weight: 800;
    
}

#book{
    background-image: url("https://i.postimg.cc/3RpgtF3d/seaside2.jpg");
    /* background-repeat: no-repeat;
    background-size:cover;
    background-position:center; */
}