/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(243 250 243 / 81%);
    /* rgb(217 230 217 / 81%) */
}
/* https://i.postimg.cc/sfTQ33H5/travels-About1.jpg
https://i.postimg.cc/FzLZX1bg/travels-About.jpg
https://i.postimg.cc/HnRPgw1x/travels5.jpg
https://i.postimg.cc/vZSxH4x9/travels4.jpg 
https://i.postimg.cc/1zfsQgq0/carousel-Hill.jpg
https://i.postimg.cc/0QSvzLZb/carousel-Sea1.jpg
https://i.postimg.cc/3RpgtF3d/seaside2.jpg

https://i.postimg.cc/132vkRHV/travel-couple-review.jpg 



https://postimg.cc/gallery/pWMbLG3/fbe73692
https://postimg.cc/gallery/tycG25B/a923faae
https://postimg.cc/gallery/vYG8K6c/8c1f85c6
https://postimg.cc/gallery/rLPrq7Q/78c910a7
*/

